html {
  overflow-x: hidden; }

body {
  color: #000;
  font-family: "BasisGrotesquePro Regular", Arial, sans-serif;
  overflow-x: hidden;
  background-repeat: no-repeat;
  position: relative; }

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input {
  font-family: "BasisGrotesquePro Regular", Arial, sans-serif; }

button:focus, a:focus{
  outline: none;
}
button{
  font-family: "BasisGrotesquePro Regular", Arial, sans-serif;
}

.submit-btn{
  display: block;
  outline: none;
  height: 60px;
  padding: 10px 40px;
  outline: none;
  border: none;
  transition: all 0.3s;
  background: #A68F3C;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 17px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.submit-btn:hover{
  color: #1C356E;
}
.submit-btn::before{
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.submit-btn:hover::before{
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.hidden{
  display: none !important;
}

.mainContainer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .mainContainer {
      padding: 0 16px; } }


.banner{
  height: 100vh;
  min-height: 800px;
  padding-bottom: 140px;
  padding-top: 225px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.banner_heading{
  font-family: "CormorantInfant Regular", Arial, sans-serif;
  text-align: center;
  font-size: 95px;
  line-height: 95px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.banner_descr{
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 21px;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.banner .submit-btn{
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -95px;
}

.header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
}
.header::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  /*background-color: #000;*/
  background-color: #A68F3C;
}
.header.scroll{
  position: fixed;
  opacity: 0;
  animation: header .7s ease-in;
  animation-fill-mode: both;
}
.header.scroll::after{
  /*opacity: 0.5;*/
  opacity: 0.6;
}
.header.scroll .header_wrapp{
  padding-top: 20px;
}
.header.scroll .header_logo{
  top: 14px;
  margin-left: -100px;
}
.header.scroll .header_logo img{
  width: 200px;
}
@keyframes header {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.headerContainer{
  width: 100%;
  max-width: 1351px;
  position: relative;
  z-index: 1;
}
.header_wrapp{
  padding: 41px 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_item{
  margin-right: 40px;
  overflow: hidden;
}
.header_menu_item a, .header_menu_item button{
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.4s;
  font-size: 13px;
  line-height: 17px;
  padding-bottom: 2px;
  position: relative;
  overflow: hidden;
  display: block;
  background: transparent;
  padding: 0;
  border: none;
}
.header_menu_item::after{
  content: '';
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #FFFFFF;
  transition: transform 0.2s;
  transform: translateX(-101%);
}
.header_menu_item:hover::after{
  transform: translateX(0%);
}
.header_link{
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.4s;
  font-size: 13px;
  line-height: 17px;
  padding-bottom: 2px;
  position: relative;
  overflow: hidden;
}
.header_link::after{
  content: '';
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #FFFFFF;
  transition: all 0.2s;
}
.header_link:hover::after{
  transform: translateX(101%);
}
.header_logo{
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -130px;
}


.atmosphere{
  padding-top: 120px;
  padding-bottom: 85px;
  background-color: #d9d6d1;
  position: relative;
}
.atmosphere .mainContainer{
  position: relative;
  z-index: 3;
}
.atmosphere_heading{
  margin-bottom: 80px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1C356E;
  font-size: 94px;
  line-height: 94px;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
}
.atmosphere_heading span{
  display: inline-block;
  margin-top: -15px;
}
.atmosphere_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1C356E;
}
.atmosphere_content_heading{
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  transform: translateX(-87px);
}
.atmosphere_content_descr{
  font-size: 20px;
  line-height: 30px;
  max-width: 555px;
  transform: translateX(169px);
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.atmosphere_content_descr p{
  margin-bottom: 26px;
}
.atmosphere_content_descr p:last-child{
  margin-bottom: 0;
}
.atmosphere .bgel{
  position: absolute;
  z-index: 1;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.atmosphere .bg_elements .bgel:nth-child(1){
  width: 263px;
  height: 373px;
  top: 123px;
  left: 50%;
  margin-left: -132px;
  transform: translateX(520px);
}
.atmosphere .bg_elements .bgel:nth-child(2){
  width: 173px;
  height: 176px;
  top: 344px;
  left: 50%;
  margin-left: -86px;
  transform: translateX(-440px);
  z-index: 2;
}
.atmosphere .bg_elements .bgel:nth-child(3){
  width: 263px;
  height: 374px;
  top: 487px;
  left: 50%;
  margin-left: -132px;
  transform: translateX(-525px);
}
.atmosphere .bg_elements .bgel:nth-child(4){
  width: 196px;
  height: 154px;
  top: 644px;
  left: 50%;
  margin-left: -93px;
  transform: translateX(655px);
}

.location{
  padding: 115px 0 68px;
  position: relative;
  overflow: hidden;
  background-color: #d9d6d1;
}
.location .mainContainer{
  position: relative;
  z-index: 3;
}
.location-round{
  width: 1915px;
  height: 1933px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  border-radius: 50%;
  transition: all 0.4s;
}
.location-round.radius-1{
  transition: all 0.4s;
  border-radius: 40%;
}
.location-round.radius-2{
  transition: all 0.4s;
  border-radius: 30%;
}
.location-round.radius-3{
  transition: all 0.4s;
  border-radius: 20%;
}
.location-round.radius-4{
  transition: all 0.4s;
  border-radius: 10%;
}
.location-round.radius-5{
  transition: all 0.4s;
  border-radius: 0%;
}
.location_heading{
  margin-bottom: 75px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-size: 94px;
  line-height: 94px;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
  color: #1C356E;
}
.location_heading span{
  display: inline-block;
  margin-top: -26px;
}
.location_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1C356E;
  margin-bottom: 40px;
}
.location_content_heading{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  max-width: 555px;
  transform: translateX(-65px);
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.location_content_descr{
  font-size: 20px;
  line-height: 30px;
  max-width: 555px;
  transform: translateX(169px);
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.location .submit-btn{
  margin: 0 auto;
}
.gallery{
  width: 100%;
  padding-top: 20px;
}
.galleryContainer{
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: -10px;
}
.gallery_item{
  width: 30%;
  height: 369px;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.gallery_item a{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.gallery_item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_item:nth-child(1){
  width: 20.422%;
}
.gallery_item:nth-child(2){
  width: 39.084%;
}
.gallery_item:nth-child(3){
  width: 39.084%;
}
.gallery_item:nth-child(4){
  width: 17.323%;
}
.gallery_item:nth-child(5){
  width: 42.746%;
}
.gallery_item:nth-child(6){
  width: 17.394%;
}
.gallery_item:nth-child(7){
  width: 20.422%;
}
.gallery_item:nth-child(8){
  width: 39.014%;
}
.gallery_item:nth-child(9){
  width: 17.394%;
}
.gallery_item:nth-child(10){
  width: 42.183%;
}

.restaurant{
  padding: 65px 0 76px;
  position: relative;
  background-color: #d9d6d1;
}
.restaurant-title{
  width: 100%;
  overflow: hidden;
  background-color: #d9d6d1;
  padding-top: 100px;
  padding-bottom: 89px;
  position: relative;
}
.restaurant-title-container:hover{
  border-color: #9F9C97;
  background-color: #9F9C97;
  color: #fff;
}
.restaurant-title-link{
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.restaurant-title-container{
  width: max-content;
  border-top: 1px solid #A68F3C;
  border-bottom: 1px solid #A68F3C;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}
.restaurant-title-container{
  color: #A68F3C;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-size: 96px;
  line-height: 96px;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
  margin-left: -203px;
}
.restaurant-title-container span{
  display: inline-block;
  margin-right: 160px;
}
.restaurant .mainContainer{
  position: relative;
  z-index: 3;
}
.restaurant-animation-title{
  height: 317px;
  width: 100%;
  background-color: #d9d6d1;
}
.restaurant_heading{
  margin-bottom: 75px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-size: 94px;
  line-height: 94px;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
  color: #1C356E;
}
.restaurant_heading span{
  line-height: normal;
  display: inline-block;
  margin-top: -40px;
}
.restaurant_descr{
  font-size: 20px;
  line-height: 30px;
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  color: #1C356E;
}
.restaurant .submit-btn{
  margin: 0 auto;
}
.restaurant .bgel{
  position: absolute;
  z-index: 1;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.restaurant .bg_elements .bgel:nth-child(1){
  width: 263px;
  height: 373px;
  top: 0;
  left: 50%;
  margin-left: -132px;
  transform: translateX(-540px);
}
.restaurant .bg_elements .bgel:nth-child(2){
  width: 139px;
  height: 142px;
  top: 165px;
  left: 50%;
  margin-left: -75px;
  transform: translateX(468px);
  z-index: 2;
}
.restaurant .bg_elements .bgel:nth-child(3){
  width: 263px;
  height: 374px;
  top: 253px;
  left: 50%;
  margin-left: -132px;
  transform: translateX(626px);
}

.catalog{
  padding: 0;
  background-color: #d9d6d1;
  padding-bottom: 10px;
}
.catalog_line{
  width: 100%;
  margin-bottom: 80px;
  height: 1px;
  background-color: #9F9C97;
}
.catalog_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.catalog_nav_btn{
  height: 65px;
  outline: none;
  border: 1px solid #1C356E;
  text-align: center;
  padding: 10px 16px;
  width: 156px;
  color: #1C356E;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  transition: all 0.4s;
  background: transparent;
}
.catalog_nav_btn.active{
  background: #1C356E;
  color: #fff;
}

.catalog_slide{
  height: 701px;
}
.catalog_slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalog_slider-container{
  position: relative;
}
.catalog_slider_nav button{
  position: absolute;
  outline: none;
  background-color: #fff;
  border: none;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 10;
  top: 50%;
  margin-top: -32px;
  transition: all 0.3s;
}
.catalog_slider_nav button svg path{
  transition: all 0.3s;
}
.catalog_slider_nav button:hover{
  transform: scale(1.2);
  background: #A58D3A;
}
.catalog_slider_nav button:hover svg path{
  stroke: #fff;
}
.catalog_slider_nav button.next{
  right: 40px;
  left: auto;
}
.catalog_slider_nav button.prev{
  left: 40px;
  right: auto;
}

.events{
  padding: 316px 0 80px;
  background: #1C356E;
  position: relative;
  overflow: hidden;
}
.events-bg{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #1C356E;
}
.events .mainContainer{
  position: relative;
  z-index: 2;
}
.events-textbg{
  width: 1874.57px;
  height: 1874.57px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -937px;
  background: url('../img/events-text.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.events-textbg img{
  width: 100%;
  height: auto;
}
.events_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 60px;
}
.events_content_heading{
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  transform: translateX(-87px);
}
.events_content_descr{
  font-size: 20px;
  line-height: 30px;
  max-width: 555px;
  transform: translateX(169px);
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.events_content_descr p{
  margin-bottom: 26px;
}
.events_content_descr p:last-child{
  margin-bottom: 0;
}
.events_container{
  width: 100%;
  padding: 0 20px;
  max-width: 1400px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.events_list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 225px;
  margin-bottom: 70px;
}
.events_item{
  width: 24%;
}
.events_item:nth-child(2){
  transform: translateY(80px);
}
.events_item:nth-child(3){
  transform: translateY(160px);
}
.events_item:nth-child(4){
  transform: translateY(240px);
}
.events_item_bg{
  width: 325px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 40px;
}
.events_item_heading{
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
}
.events_item_heading br{
  display: none;
}
.events_blockquote{
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  margin-bottom: 40px;
}
.events .submit-btn{
  margin: 0 auto;
}
.events .submit-btn::before{
  background: #fff;
}
.events .submit-btn:hover{
  color: #1C356E;
}

.consultations{
  position: relative;
  padding: 100px 0 80px;
  min-height: 1834px;
  background-color: #d9d6d1;
}
.consultations .mainContainer{
  position: relative;
  z-index: 5;
}
.consultations_top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.consultations_heading{
  margin-right: 40px;
  flex-shrink: 0;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1C356E;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
  max-width: 603px;
}
.consultations_descr{
  font-size: 18px;
  line-height: 27px;
  color: #1C356E;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  margin-bottom: 40px;
  max-width: 440px;
}
.consultations .submit-btn{
  position: relative;
}
.consultations .submit-btn a{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.consultations .bgel{
  position: absolute;
  z-index: 1;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.consultations .bg_elements .bgel:nth-child(1){
  width: 903px;
  height: 430px;
  top: 458px;
  left: 50%;
  margin-left: -451px;
  transform: translateX(-120px);
}
.consultations .bg_elements .bgel:nth-child(2){
  width: 368px;
  height: 466px;
  top: 544px;
  left: 50%;
  margin-left: -184px;
  transform: translateX(412px);
  z-index: 2;
}
.consultations .bg_elements .bgel:nth-child(3){
  width: 492px;
  height: 466px;
  top: 935px;
  left: 50%;
  margin-left: -246px;
  transform: translateX(-214px);
  z-index: 2;
}
.consultations .bg_elements .bgel:nth-child(4){
  width: 368px;
  height: 466px;
  top: 1288px;
  left: 50%;
  margin-left: -184px;
  transform: translateX(-451px);
  z-index: 3;
}
.consultations .bg_elements .bgel:nth-child(5){
  width: 547px;
  height: 430px;
  top: 1186px;
  left: 50%;
  margin-left: -273px;
  transform: translateX(212px);
}

.pickup{
  background-color: #d9d6d1;
  padding: 0 0 80px;
}
.pickup_line{
  width: 100%;
  height: 1px;
  margin-bottom: 80px;
  background-color: #9F9C97;
}
.pickup_wrapp{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pickup_preview{
  width: 475px;
  height: 592px;
  margin-right: 40px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pickup_content{
  width: 100%;
  max-width: 555px;
}
.pickup_heading{
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1C356E;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
}
.pickup_descr{
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 27px;
  color: #1C356E;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.pickup_form input{
  width: 100%;
  color: #1C356E;
  font-size: 22px;
  height: auto;
  padding-bottom: 10px;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  border: none;
  border-bottom: 1px solid #A58E3B;
  display: block;
  background: transparent;
  margin-bottom: 30px;
}
.pickup_form input::placeholder{
  color: #1C356E;
  opacity: 0.2;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  font-size: 22px;
}
.pickup_form input:focus::placeholder{
  opacity: 0;
}


.footer{
  background-color: #d9d6d1;
  position: relative;
  overflow: hidden;
}
.footer .footer_preview{
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.footer-preview-bg{
  position: absolute;
  top: 238px;
  left: -260px;
  color: #1C356E;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  font-size: 140px;
  line-height: 140px;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
  display: flex;
  width: max-content;
  z-index: 3;
}
.footer-preview-bg span{
  margin-right: 80px;
}
.footer .footer_info{
  position: relative;
  z-index: 3;
}
.footer .footer_nav{
  position: relative;
  z-index: 3;
}
.footer-round{
  width: 1915px;
  height: 1933px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  border-radius: 50%;
  transition: all 0.4s;
}
.footer-round.radius-1{
  transition: all 0.4s;
  border-radius: 40%;
}
.footer-round.radius-2{
  transition: all 0.4s;
  border-radius: 30%;
}
.footer-round.radius-3{
  transition: all 0.4s;
  border-radius: 20%;
}
.footer-round.radius-4{
  transition: all 0.4s;
  border-radius: 10%;
}
.footer-round.radius-5{
  transition: all 0.4s;
  border-radius: 0%;
}
.footer_preview{
  position: relative;
  padding: 209px 0 40px;
  min-height: 1000px;
}
.footer_label{
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1C356E;
  margin-bottom: 398px;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.footer_socials_heading{
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1C356E;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.footer_socials_list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer_socials_list a{
  width: 64px;
  height: 64px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A38B37;
  transition: all 0.2s;
}
.footer_socials_list a:hover{
  background: #1C356E;
  transform: scale(1.15);
}
.footer .bgel{
  position: absolute;
  z-index: 1;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.footer .bg_elements .bgel:nth-child(1){
  width: 325px;
  height: 638px;
  top: 160px;
  left: 50%;
  margin-left: -162px;
  transform: translateX(170px);
  z-index: 2;
}
.footer .bg_elements .bgel:nth-child(2){
  width: 123px;
  height: 125px;
  top: 434px;
  left: 50%;
  margin-left: -66px;
  transform: translateX(468px);
  z-index: 2;
}
.footer .bg_elements .bgel:nth-child(3){
  width: 284px;
  height: 288px;
  top: 630px;
  left: 50%;
  margin-left: -142px;
  transform: translateX(422px);
  z-index: 2;
}
.footer_info_line{
  width: 100%;
  height: 1px;
  background-color: #D9D6D1;
  margin-bottom: 80px;
}
.footer_info_wrapp{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_info{
  padding-bottom: 80px;
}
.footer_info_content{
  max-width: 370px;
}
.footer_info_content .logo{
  max-width: 360px;
  margin-bottom: 64px;
}
.footer_info_content .logo img{
  max-width: 100%;
  height: auto;
}
.footer_info_content_descr{
  font-size: 16px;
  line-height: 24px;
  color: #1C356E;
  margin-bottom: 24px;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
}
.footer_info_details{
  padding-right: 130px;
}
.footer .submit-btn:hover{
  color: #fff;
}
.footer .submit-btn::before {
  background: #1C356E;
}
.location-link{
  display: block;
  color: #1C356E;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 16px;
  width: max-content;
  overflow: hidden;
}
.location-link::after{
  content: '';
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #1C356E;
  transition: transform 0.2s;
  transform: translateX(0%);
}
.location-link:hover::after{
  transform: translateX(101%);
}
.location .submit-btn:hover{
  color: #fff;
}
.location .submit-btn::before {
  background: #1C356E;
}
.footer_info_menu{
  margin-top: 64px;
}
.footer_info_menu a, .footer_info_menu button{
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1C356E;
  display: block;
  margin-bottom: 16px;
  width: max-content;
  overflow: hidden;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
}
.footer_info_menu a::after, .footer_info_menu button::after{
  content: '';
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #1C356E;
  transition: transform 0.2s;
  transform: translateX(-101%);
}
.footer_info_menu a:hover::after, .footer_info_menu button:hover::after{
  transform: translateX(0%);
}
.footer_nav{
  padding-bottom: 23px;
}
.footer_nav_wrapp{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_nav_link, .footer_nav_descr{
  color: #1C356E;
  opacity: 0.4;
  font-size: 16px;
  line-height: 24px;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  transition: all 0.2s;
}
.footer_nav_link:hover{
  opacity: 1;
}



/** POPUP**/
.sli-popup_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  opacity: 1;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  transform: translateX(101%);
  
  z-index: -10; }
  .sli-popup_container.active {
    transform: translateX(0%);
    
    opacity: 1;
    transition: all 0.3s ease-in-out;
    /*transition-delay: 0.1;*/
    z-index: 999999; }
    .sli-popup_container.active .sli-popup {
      right: 0;
      transition: all 0.6s ease-in-out;
      transition-delay: 0.1; }
    .sli-popup_container.active .sli-request-popup .bg_elements .bgel{
      transition-delay: 0.5s;
      opacity: 0.9;
    }

.sli-popup_background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.sli-popup {
  position: relative;
  z-index: 200;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: auto;
  background-color: #FFFFFF;
  /*right: -100vh;*/
  transition: all 0.6s ease-in-out; }

.sli-popup_close {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .popup_close img {
    width: 24px;
    height: auto; }

.sli-request-popup{
  background: #1C356E;
}
.sli-popup_close{
  top: 40px;
  right: 40px;
  background: transparent;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  width: 63px;
  height: 63px;
  transition: all 0.2s;
}
.sli-popup_close svg path{
  transition: all 0.2s;
}
.sli-popup_close:hover{
  transform: scale(1.15);
  background: #FFFFFF;
}
.sli-popup_close:hover svg path{
  stroke: #A68F3C;
}
.sli-request-popup{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.sli-request-popup_content{
  max-width: 773px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.sli-request-popup_heading{
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 94px;
  line-height: 94px;
  margin-bottom: 75px;
  font-family: "CormorantInfant Regular", Arial, sans-serif;
}
.sli-request-popup_form{
  max-width: 440px;
  margin: 0 auto;
  width: 100%;
}
.sli-request-popup_form input{
  width: 100%;
  color: #fff;
  font-size: 22px;
  height: auto;
  padding-bottom: 10px;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  border: none;
  border-bottom: 1px solid #8895B3;
  display: block;
  background: transparent;
  margin-bottom: 30px;
}
.sli-request-popup_form input:focus::placeholder{
  opacity: 0;
}
.sli-request-popup_form input::placeholder{
  transition: all 0.2s;
  color: #8895B3;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  font-size: 22px;
}
.sli-request-popup_form .submit-btn{
  width: 100%;
}
.sli-request-popup_form .submit-btn::before{
  background: #fff;
}
.sli-request-popup_form .submit-btn:hover{
  color: #1C356E;
}
.sli-request-popup_descr{
  position: absolute;
  bottom: 40px;
  padding: 16px 20px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "BasisGrotesquePro Light", Arial, sans-serif;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #fff;
  z-index: 2;
}
.sli-request-popup .bgel{
  position: absolute;
  z-index: 1;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sli-request-popup .bg_elements .bgel:nth-child(1){
  transition: all 1s;
  opacity: 0;
  width: 256px;
  height: 328px;
  top: 80px;
  left: 50%;
  margin-left: -128px;
  transform: translateX(-560px);
}
.sli-request-popup .bg_elements .bgel:nth-child(2){
  transition: all 1s;
  opacity: 0;
  width: 255px;
  height: 324px;
  top: auto;
  bottom: 100px;
  left: 50%;
  margin-left: -128px;
  transform: translateX(560px);
}

.sli-request-popup.popup-second{
  background: #A68F3C;
}
.sli-request-popup.popup-second .sli-request-popup_heading{
  color: #fff;
}
.sli-request-popup.popup-second .sli-request-popup_form .submit-btn{
  background-color: #142C66;
}
.sli-request-popup.popup-second .bg_elements .bgel:nth-child(1){
  transform: translateX(560px);
  top: 136px;
}
.sli-request-popup.popup-second .bg_elements .bgel:nth-child(2){
  transform: translateX(-560px);
  bottom: 72px;
}
.sli-request-popup.popup-second .sli-request-popup_form input{
   border-color: #D3C79D;
}
.sli-request-popup.popup-second .sli-request-popup_form input::placeholder{
  color: #D3C79D;
}

.popup-menu .bg-element{
  width: 100%;
  position: absolute;
  height: 128px;
  left: 0;
  top: 50%;
  margin-top: -64px;
  background-image: url('../img/menu-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.popup-menu .sli-request-popup_content{
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-right: 4px;
}
.popup-menu .sli-request-popup_content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}

.popup-menu .sli-request-popup_content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.sli-request-popup_wrapp{
  width: 100%;
  max-width: 830px;
}
.sli-request-popup.popup-menu{
  padding-bottom: 20px;
}
.download-btn{
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.download-btn svg path{
  transition: all 0.2s;
}
.download-btn:hover{
  transform: scale(1.15);
  background: #A68F3C;
}
.download-btn:hover svg path{
  stroke: #fff;
}
.popup-menu .sli-request-popup_content img{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.popup-menu .sli-request-popup_content img:last-child{
  margin-bottom: 0;
}