html {
  overflow-x: hidden; }

body {
  color: #353535;
  background-color: #F5F5F5;
  font-family: 'Lato', Arial, sans-serif;
  background-repeat: no-repeat;
  position: relative; }

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: "Lato", Arial, sans-serif; }

button:focus, a:focus{
  outline: none;
}
button{
  font-family: "Lato", Arial, sans-serif;
}

.show{
  display: block !important;
}
.hidden{
  display: none !important;
}

.mainContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .mainContainer {
      padding: 0 16px; } }

.section-title{
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.banner{
  height: 100vh;
  min-height: 800px;
  padding-bottom: 120px;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}
.banner::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.banner .mainContainer{
  position: relative;
  z-index: 2;
}
.banner_heading{
  text-align: center;
  font-size: 104px;
  line-height: 104px;
  font-weight: 700;
  margin-bottom: 40px;
}
.banner_subheading{
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 56px;
}
.banner_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin: 0 auto;
  min-width: 230px;
  height: 72px;
  cursor: pointer;
  text-align: center;
  color: #353535;
  font-weight: 700;
  font-size: 20px;
  padding: 0 32px;
  background-color: #fff;
  width: max-content;
}
.banner_btn:hover{
  transform: scale(1.05);
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s;
  background: transparent;
}
.header_wrapp{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.header_logo{
  flex-shrink: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.header_logo .icon{
  flex-shrink: 0;
  margin-right: 12px;
}
.header_logo .heading{
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
}
.header_logo .descr{
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 500;
}
.header_menu{
  display: flex;
  align-items: center;
}
.header_menu_item{
  padding: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;
}
.header_contacts{
  margin-left: 30px;
}
.header_phone{
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
.header_phone svg{
  margin-right: 8px;
  flex-shrink: 0;
}


.services{
  padding-top: 80px;
  padding-bottom: 80px;
}
.sercives_wrapp{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.services_card{
  border: 1px solid #353535;
  width: calc(33.3333% - 15px);
  min-height: 412px;
  margin-bottom: 24px;
  padding: 40px 20px 20px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.services_card_toggler{
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  transition: all 0.2s;
  top: 20px;
  right: 20px;
}
.services_card_heading{
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.services_card_list{
  list-style: disc;
  padding-left: 20px;
  margin-top: 20px;
  display: none;
}
.services_card_list li{
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.services_card_list li:last-child{
  margin-bottom: 0;
}
.services_card.active{
  justify-content: flex-start;
}
.services_card.active .services_card_list{
  display: block;
}
.services_card.active .services_card_toggler{
  transform: rotate(45deg);
}

.services_submit{
  margin: 0 auto;
  margin-top: 16px;
  border: none;
  padding: 0 32px;
  min-width: 250px;
  height: 72px;
  background-color: #353535;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s;
  width: max-content;
}
.services_submit:hover{
  transform: scale(1.05);
}


.about{
  background: #fff;
  padding: 80px 0;
}
.about_wrapp{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_slider-wrapp{
  width: 564px;
  flex-shrink: 0;
  margin-right: 80px;
  position: relative;
}
.about_slider-wrapp:hover .about_slider_nav button{
  opacity: 1;
}
.about_slider-wrapp:hover .about_slider_nav button.swiper-button-disabled{
  opacity: 0.3;
}
.about_slider .swiper-slide{
  position: relative;
  cursor: pointer;
}
.about_slider .swiper-slide .icon{
  position: absolute;
  bottom: 52px;
  right: 191px;
}
.about_slider_nav button{
  position: absolute;
  z-index: 2;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  opacity: 0;
}
.about_slider_nav button.swiper-button-disabled{
  pointer-events: none;
}
.about_slider_nav button:hover{
  transform: translateY(-50%) scale(1.1);
}
.about_slider_nav button.next{
  left: auto;
  right: 22px;
}
.about_slider .swiper-slide a {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.about_content{
  width: 100%;
}
.about_heading{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px;
}
.about_descr{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 40px;
}
.about_list{
  list-style: disc;
  padding-left: 20px;
}
.about_list li{
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.about_list li:last-child{
  margin-bottom: 0;
}

.blockquote{
  background-color: #282828;
  color: #fff;
}
.blockquote_wrapp{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.blockquote_preview{
  flex-shrink: 0;
  margin-left: 64px;
  margin-top: -60px;
}
.blockquote_content{
  padding-top: 80px;
  padding-bottom: 80px;
}
.blockquote_heading{
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 32px;
}
.blockquote_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  min-width: 230px;
  height: 72px;
  cursor: pointer;
  text-align: center;
  color: #353535;
  font-weight: 700;
  font-size: 20px;
  padding: 0 32px;
  background-color: #fff;
  width: max-content;
}
.blockquote_btn:hover{
  transform: scale(1.05);
}

.reviews{
  background-color: #fff;
  padding: 80px 0;
}

.reviews_slider{
  margin-bottom: 24px;
  overflow: hidden;
  width: 100%;
}
.reviews_slider:last-child{
  margin-bottom: 0;
}
.reviews_slider_track{
  display: flex;
  width: fit-content;
  gap: 24px;
}
.reviews_slider_one .reviews_slider_track{
  animation: scroll-left 40s linear infinite;
}
.reviews_slider_two .reviews_slider_track{
  animation: scroll-right 40s linear infinite;
}
.reviews_slider_one.paused .reviews_slider_track,
.reviews_slider_two.paused .reviews_slider_track{
  animation-play-state: paused;
}
.reviews_card{
  border: 1px solid #353535;
  padding: 40px;
  min-height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 568px;
  flex-shrink: 0;
}
.reviews_card_descr{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #82858C;
  margin-bottom: 20px;
}
.reviews_card_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews_card_user{
  display: flex;
  align-items: center;
}
.reviews_card_user .avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-shrink: 0;
  margin-right: 16px;
}
.reviews_card_user .name{
  font-size: 20px;
  font-weight: 700;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.contacts{
  padding: 80px 0;
}
.contacts_container{
  width: 100%;
  height: 600px;
  margin-top: 40px;
}
.contacts_container #google-map{
  width: 100%;
  height: 100%;
}

.contacts_container{
  position: relative;
}
.contacts_container iframe{
  width: 100% !important;
  height: 740px !important;
  filter: grayscale(100%);
}
.contacts_wrapp{
  position: absolute;
  left: 80px;
  top: 40px;
  width: 446px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  padding: 40px;
  color: #fff;
  z-index: 6;
}
.contacts_top{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.contacts_top svg{
  margin-right: 16px;
  flex-shrink: 0;
}
.contacts_item{
  margin-bottom: 20px;
}
.contacts_item:last-child{
  margin-bottom: 0;
}
.contacts_item_heading{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #82858C;
}
.contacts_item_descr{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
a.contacts_item_descr{
  color: #fff;
}
.contacts_socials{
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.contacts_socials_item{
  width: 110px;
  height: 48px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.contacts_socials_item:last-child{
  margin-right: 0;
}
.contacts_submit{
  height: 72px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #353535;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s;
  margin-top: 24px;
}
.contacts_submit:hover{
  transform: scale(1.05);
}